.venv/
.tmp/
vif_agent/test_agent.py
build/
dist/
**/__pychache__/
**.pyc
vif_agent/mutation/__pycache__/tex_mutant_creator.cpython-312.pyc
extension/tikz-mapped/node_modules/
extension/tikz-mapped/.vscode-test.mjs
extension/tikz-mapped/.vscodeignore
debug_cropped1.png
debug_cropped2.png
debug_hidden1.png
debug_hidden2.png
.dataset/
.oui/**
notebooks/protos/dataset_full_run/.debug/**
notebooks/verifier_ds_creation/code.tex
notebooks/verifier_ds_creation/originalcode.tex
notebooks/verifier_execution/**-ds_conc